<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- {% load static %} -->
    <link rel="stylesheet" type="text/css" href="/static/erp_attendance/stylesheets/index.css">
    <title>Admin panel</title>
</head>

<body>

    <!-- Navbar section -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white !important;">Admin Panel</a>
            <h1>Arcgate</h1>
           <div>
                
                <button class="btn btn-outline-success" data-toggle="modal"
                    data-target="#exampleModalCenter">Add details</button>
                <button class="btn btn-outline-success" >
                        <a href="{% url 'logoutUser' %}" class="p-2 rounded bg-gray-700 text-white">Logout</a>
                </button>
            </div>
        </div>
    </nav>
    <form action="/search-employees" class="form-inline my-2 my-lg-0">
        <!-- <form action="javascript:void(0);" class="form-inline my-2 my-lg-0" method="get"> -->
        <input id="searchField" name="searchedEmp" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
        <!-- Is admin dropdown -->
        <select class="form-control" name="isAdminDropdown">
            <option selected="selected" disabled>Is admin</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
            </select>
            <select class="form-control" name="deptName">
                <option selected="selected" disabled>Department</option>
                        <option value="Software">Software</option>
                        <option value="KPO">KPO</option>
                </select>
        <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                {% comment %} <th scope="col">Last Name</th> {% endcomment %}
                <th scope="col">Username</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col">Is admin</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.empid }}</td>
                <td>{{ employee.user.first_name | capfirst}} {{ employee.user.last_name |capfirst}}</td>
                
                <td>{{ employee.user.username }}</td>
                <td>{{ employee.user.groups.all.0.name }}</td>
                <td>{{ employee.user.email }}</td>
                <td>{{ employee.user.is_superuser }}</td>
                <td>
                    <button class="btn btn-outline-primary m-1" data-toggle="modal"
                        data-target="#editFormModal_{{employee.id}}">Edit</button>
                </td>
                <td>
                    <button class="btn btn-outline-danger m-1"
                        onclick="location.href = '/delete-employee/{{employee.id}}';">Delete</button>
                </td>
                <td>
                    <button class="btn btn-outline-success m-1"
                        onclick="location.href = '/show-employee/{{employee.id}}'">Open</button>
                </td>
            </tr>
            <!-- Update form -->
            <!-- Form Modal section -->
            <!-- Form Modal -->
            <div class="modal fade" id="editFormModal_{{employee.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/edit-employee/{{employee.id}}"> {% csrf_token %}
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input name="firstname" value="{{ employee.user.first_name |capfirst}} {{ employee.user.last_name |capfirst}}" type="text"
                                        class="form-control" placeholder="Enter employee's firstname">
                                </div>
                                <!-- Last Name -->
                                {% comment %} <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input name="lastname" value="{{ employee.user.last_name }}" type="text"
                                        class="form-control" placeholder="Enter employee's lastname">
                                </div> {% endcomment %}
                                <!-- Username -->
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input name="username" value="{{ employee.user.username }}" type="text"
                                        class="form-control" placeholder="Enter employee's username">
                                </div>
                                <!-- Employee ID -->
                                <div class="form-group">
                                    <label for="empid">Employee ID</label>
                                    <input name="empid" value="{{ employee.empid }}" type="text" class="form-control"
                                        id="name" placeholder="Enter unique employee id">
                                </div>
                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" value="{{ employee.user.email }}" type="email"
                                        class="form-control" placeholder="example@gmail.com">
                                </div>
                                <!-- Department -->
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    <select name="department" class="form-control" id="department">
                                        <option {% if employee.user.groups.all.0.name == 'Software' %} selected {% endif %}>Software</option>
                                        <option {% if employee.user.groups.all.0.name == 'KPO' %} selected {% endif %}>KPO
                                        </option>
                                    </select>
                                </div>
                                <!-- Is Admin -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="isAdmin"
                                    {% if employee.user.is_superuser %} checked {% endif %}>
                                    <label class="form-check-label" for="isAdmin">
                                        is Admin
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>


    <!-- Add form -->
    <!-- Form Modal section -->
    <!-- Form Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/add-employee/"> {% csrf_token %}
                        <!-- First Name -->
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input name="firstname" type="text" class="form-control" id="firstname"
                                placeholder="Enter employee's firstname">
                            <div>
                                <small id="firstname-error" class="text-danger"></small>
                            </div>
                        </div>
                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input name="lastname" type="text" class="form-control" id="lastname"
                                placeholder="Enter employee's lastname">
                            <div>
                                <small id="lastname-error" class="text-danger"></small>
                            </div>
                        </div>
                        <!-- Username -->
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control" id="username"
                                placeholder="Enter employee's username">
                            <div>
                                <small id="username-error" class="text-danger"></small>
                            </div>
                        </div>
                        <!-- Employee ID -->
                        <div class="form-group">
                            <label for="empid">Employee ID</label>
                            <input name="empid" type="text" class="form-control" id="empid"
                                placeholder="Enter unique employee id">
                            <div>
                                <small id="empid-error" class="text-danger"></small>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="email"
                                placeholder="example@gmail.com">
                            <div>
                                <small id="email-error" class="text-danger"></small>
                            </div>
                        </div>
                        <!-- Department -->
                        <div class="form-group">
                            <label for="department">Department</label>
                            <select name="department" class="form-control" id="department">
                                <option>Software</option>
                                <option>KPO</option>
                            </select>
                        </div>
                        <!-- Is Admin -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="isAdmin" id="isAdmin">
                            <label class="form-check-label" for="isAdmin">
                                is Admin
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        isAlphabet = (teststr) => {
            return /[^a-zA-Z]/.test(teststr)
        }
        haveSpecialChar = (teststr) => {
            return /[!#$%^&*()\=\[\]{};':"\\|,<>\/?]+/.test(teststr)
        }
        isAlNum = (teststr) => {
            console.log('tst str: ', teststr)
            return /[^a-zA-Z0-9_]/.test(teststr)
        }
        isBlank = (teststr) => {
            return !teststr.trim()
        }
        var firstname = $('#firstname')
        var lastname = $('#lastname')
        var username = $('#username')
        var empid = $('#empid')
        var email = $('#email')
        var searchBtn = $('#searchBtn')
        var searchField = $('#searchField')
        firstname.on('input', (ev) => {
        var firstnameError = $('#firstname-error')
            if (isAlphabet(firstname.val())) {
                console.log('inif');
                firstnameError.html('Firstname should only contain alphabets');
            }
            else {
                firstnameError.html('');
                
            }
        })
        lastname.on('input', (ev) => {
            var lastnameError = $('#lastname-error')
            if (isAlphabet(lastname.val())) {
                console.log('inif');
                lastnameError.html('Lastname should only contain alphabets');
            }
            else {
                lastnameError.html('');
            }
        })
        username.on('input', (ev) => {
            var usernameError = $('#username-error')
                if (haveSpecialChar(username.val())) {
                    usernameError.html('Username can contain alphanumeric, _, @, +, . and - characters only');
                }
                else {
                    $.ajax({
                        url: "/validate-form",
                        method: 'GET',
                        data: {username: username.val()},
                        success: (errMsg) => {
                            usernameError.html(errMsg);
                        }
                    })
                }
        })
        empid.on('input', (ev) => {
            var empidError = $('#empid-error')
                if (isAlNum(empid.val())) {
                    empidError.html('Employee id can only contain alphanumeric characters and underscores(_).');
                }
                else {
                    console.log('in else block');
                    $.ajax({
                        url: "/validate-form",
                        method: 'GET',
                        data: {empid: empid.val()},
                        success: (errMsg) => {
                            empidError.html(errMsg);
                        }
                    })
                }
        })
        email.on('input', (ev) => {
            var emailError = $('#email-error')
            $.ajax({
                url: "/validate-form",
                method: 'GET',
                data: {email: email.val()},
                success: (errMsg) => {
                    emailError.html(errMsg);
                }
            })
        })
    </script>
</body>

</html>