.container {
    padding: 30px;
}

.container ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.container .list-group .list-group-item {
    display: flex;
    align-items: center;
}

.container .list-group .details-section {
    flex-grow: 120;
    display: inline-block;
}
